// ------
// Layout
// ------

// TODO: in progress

:root
  --center-xy
    display: flex
    align-items: center
    justify-content: center

  --center-x
    display: flex
    justify-content: center

  --center-y
    display: flex
    align-items: center
