@import '_settings.sss'
@import '_interaction.sss'
@import '_typography.sss'
@import '_code.sss'
@import '_utilities.sss'
@import '_layout.sss'
@import '_button.sss'
@import '_forms.sss'
@import '_reset.sss'

:root
  --axis-framework
    @apply --typography
    @apply --code-blocks
    @apply --forms
    @apply --buttons
    @apply --layout
    @apply --border-box-html
